<main class="col-4 offset-4 text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center"><h1 class="display-3">Add sale</h1></div>
                <br/>
                <form th:method="post" th:object="${sale}">
                    <div class="form-group row">
                        <label class="form-control-label">Customer</label>
                        <select class="form-control" name="customerName">
                            <option th:each="customer : ${customers}"  th:value="${customer.name}" th:text="${customer.name}"></option>
                        </select>
                    </div>

                    <div class="form-group row">
                        <label class="form-control-label">Supplier</label>
                        <select class="form-control" name="motorcycleName">
                            <option th:each="motorcycle : ${motorcycles}"  th:value="${motorcycle.make}" th:text="|${motorcycle.make} ${motorcycle.model}|"></option>
                        </select>
                    </div>


                    <input type="submit" class="btn btn-outline-warning btn-lg btn-block"
                           th:value="Add"/>
                </form>
                <br/>
            </div>
        </div>
    </div>
</main>

