<!--https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"-->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"
      type="text/css"/>


<div class="container">
    <div class="jumbotron jumbotron-sm" style="background-color:#339966;margin-top:2%;color:white;">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h2" style="margin-top:-2%">
                    Contacts
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <h3 style="line-height:20%;"><i class="fa fa-home fa-1x" style="line-height:6%;color:#339966"></i>
                    Adres:</h3>
                <p style="margin-top:6%;line-height:35%">Bulgaria/Burgas</p>
                <br/>
                <br/>
                <h3 style="line-height:20%;"><i class="fa fa-envelope fa-1x" style="line-height:6%;color:#339966"></i>
                    E-Mail:</h3>
                <p style="margin-top:6%;line-height:35%">v.sariev@abv.bg</p>
                <br/>
                <br/>
                <h3 style="line-height:20%;"><i class="fa fa-user fa-1x" style="line-height:6%;color:#339966"></i>
                    Developer:</h3>
                <p style="margin-top:6%;line-height:35%">Veselin Sariev</p>
                <br/>
                <br/>
                <h3 style="line-height:20%;"><i class="fa fa-yelp fa-1x" style="line-height:6%;color:#339966"></i>
                    Supply Centre Support:</h3>
                <p style="margin-top:6%;line-height:35%"><a href="siteadresi.com/destek">support.com/</a></p>
            </div>
        </div>
        <div class="col-sm-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2941.218638629865!2d27.472803915461014!3d42.508161479177225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a6948e3ae7ee51%3A0x1ed84a3ed7fbc6be!2z0YPQuy4g4oCe0J_QtdGA0YPRidC40YbQsOKAnCA3LCA4MDAxINCR0YPRgNCz0LDRgQ!5e0!3m2!1sbg!2sbg!4v1493319569541"
                    width="530" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96690.80542089987!2d29.864461132544537!3d40.77109282810726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cb4f66644bfb9d%3A0x82690ee7586b7eb9!2zxLB6bWl0LCBLb2NhZWxp!5e0!3m2!1str!2str!4v1480782606579" width="565" height="430" frameborder="0" style="border:0" allowfullscreen></iframe>-->
        </div>
    </div>
</div>

